# Plugin configurations
# The updater will apply these to ALL enabled instances in instances.yaml
# Paths use relative references:
#   ../ refers to the instance's root data directory
#   ./ or file refers to current location

[plugin:paper]
class_name = Paper
name = paper.jar
source = data
destination = data