[settings]
# Log level for the plugin updater (DEBUG, INFO, WARNING, ERROR, CRITICAL)
log_level = DEBUG
frequency_hours = 24
docker_compose_service_name = minecraft
docker_compose_path = data/docker-compose.yaml

# Plugin configurations
# The updater will apply these to ALL enabled instances in instances.yaml
# Paths use relative references:
#   ../ refers to the instance's root data directory
#   ./ or file refers to current location

[plugin:paper]
class_name = Paper
name = paper.jar
source = data
destination = data