[settings]
# Check for plugin updates every N hours
frequency_hours = 24

# Log level for the plugin updater (DEBUG, INFO, WARNING, ERROR, CRITICAL)
log_level = INFO
docker_compose_service_name = "minecraft"

# Plugin configurations
# The updater will apply these to ALL enabled instances in instances.yaml
# Paths use relative references:
#   ../ refers to the instance's root data directory
#   ./ or file refers to current location

[plugin:paper]
class_name = Paper
name = paper.jar
source = ../
destination = ../